<!--The content below is only a placeholder and can be replaced.-->

<!-- <canvas #myCanvas style="border: 2px black solid; width: 100%; height: 100%;">
    The canvas is not working !
</canvas> -->

<nav>
    <ul style="list-style-type: none;">
        <a href="https://timi95.github.io">
            <li class="nav-text"><strong> Home </strong></li>
        </a>
        <a href="https://drive.google.com/file/d/1tvvD0RxJrs5yYr-Q89NVLNpw9Qc24ZcX/view?usp=sharing">
            <li class="nav-text"><strong> Resume </strong></li>
        </a>
        <li class="nav-text"> <strong> <a style=" margin: 0px; padding: 0px;">Contact</a> | <b>timi.ogunkeye@gmail.com</b> </strong> </li>

        <a href="mailto:timi.ogunkeye@gmail.com">
           <b> <i class="fas fa-envelope fa-2x">Email,</i> </b>
        </a>
        <a href="https://www.linkedin.com/in/timi-ogunkeye-7774ba66/">
            <b> <i class="fab fa-linkedin fa-2x">LinkedIn</i> </b>
        </a>
    </ul>
</nav>
<h1>Hi there, consider this a loading page until I come up with a new portfolio style page !</h1>
<h3> Thanks for coming to check me out anyway !</h3>
<p> Some info whilst you are here: <br> <br>

    Commercially, I've worked as a frontend dev with angular, and backend with Java spring-boot, altogether I've been working for just over 3 years (Time flies, and bees, butterflys....) <br> <br>

    I wrap angular frontends in Electron to make them desktop apps, and I stick a Django backend on the end. <br>
    As you can see, I do play around with javascript canvas animations. <br>
    Although I don't have any C,or Dlang projects out in the wild (though I dearly wish I did), I use these languages personally to some effect. <br>
    <br>
    If I missed any details, refer to my resume, or if you came here from there, check out my linkedIn profile.
    <br>
    <br>
    <i> I am absolutely open to commissions, so don't be shy and get in touch for a discussion !</i>
</p>
<!-- <app-circles></app-circles>
<app-linear></app-linear>
<app-random-walker></app-random-walker> -->
<div class="walker-row">
    <app-walker-objectified></app-walker-objectified>
    <blue-walker></blue-walker>
    <green-walker></green-walker>
</div>
<div class="walker-row">
    <purple-walker></purple-walker>
</div>

<!-- <router-outlet></router-outlet> -->
