<div class="walker-display-frame">
    <select class="custom-select" (change)="changeWalkerDisplayType($event)" >
        <option value="" disabled>Choose WalkerDisplayType </option>
        <option *ngFor="let type of walkerTypeList" [ngValue]="type">{{type}}</option>
     </select>
</div>
<br>
<div class="walker-display-frame" [ngSwitch]="WalkerDisplayType">
    <div *ngSwitchCase="'redWalker'">
        <p> 
            The <span style="color: red;"> Red </span> walkers utilise vector based movement, and are all time synchronised.
        </p>
        <app-walker-objectified></app-walker-objectified>
    </div>
    <div *ngSwitchCase="'blueWalker'">
        <p>
            The <span style="color: blue;"> Blue </span> walkers move towards a target, and change direction/targets once their initial target is reached.
        </p>
        <blue-walker></blue-walker>
    </div>
    <div *ngSwitchCase="'greenWalker'">
        <p>
            The <span style="color: green;"> Green </span> walkers implement a "collision". 
            <br> 
            They change colour when they overlap.
        </p>
        <green-walker></green-walker>
    </div>
    <div *ngSwitchCase="'purpleWalker'">
        <p>
            The <span style="color: purple;"> Purple </span> walkers, rotate around their target which gives a curving effect.
            <br> Each walker instance also has a life-span, and lives a maximum of ten seconds in the canvas.
        </p>
        <purple-walker></purple-walker>
    </div>
    <div *ngSwitchCase="'orangeWalker'">
        <p>
           The <span style="color: orange;"> Orange </span> walkers, give birth to another square when they reach a certain number of collisions.
        </p>
        <div>
            <ul style="list-style: none; line-height: 25px;">
                <li> Each walker has a random life-span ranged between one and ten seconds .</li>
                <li> <span style="color: orange;"> Orange </span> walker population is limited to a maximum of ten squares on the screen at a time. </li>
            </ul>

           I'm still tinkering with the birth and death settings to see what feels better.
        </div>
        <orange-walker></orange-walker>
    </div>
    <div *ngSwitchCase="'orangeOrTealWalker'">
        <p>
           The <span style="color: orange;"> Orange </span> or <span style="color: teal;"> Teal </span> walkers inherit the colour from their parent.
           <br>
           The result is interestingly a mild drift effect which I intend to expand upon in the near future.
        </p>

        <orange-or-teal-walker></orange-or-teal-walker>
    </div>
    <div *ngSwitchDefault>
        <p> 
            The <span style="color: red;"> Red </span> walkers utilise vector based movement, and are all time synchronised.
        </p>
        <app-walker-objectified></app-walker-objectified>
    </div>
</div>
<br>


<!-- <router-outlet></router-outlet> -->
