<!--The content below is only a placeholder and can be replaced.-->

<!-- <canvas #myCanvas style="border: 2px black solid; width: 100%; height: 100%;">
    The canvas is not working !
</canvas> -->

<nav class="head-nav">
    <ul style="list-style-type: none;">
        <a href="https://timi95.github.io">
            <li class="nav-text"><strong> Home </strong></li>
        </a>
        <a href="https://drive.google.com/file/d/1tvvD0RxJrs5yYr-Q89NVLNpw9Qc24ZcX/view?usp=sharing">
            <li class="nav-text"><strong> Resume </strong></li>
        </a>
        <li class="nav-text"> <strong> <a style=" margin: 0px; padding: 0px;">Contact</a> | <b style="word-break:break-all;">timi.ogunkeye@gmail.com</b> </strong> </li>

        <a href="mailto:timi.ogunkeye@gmail.com">
           <b> <i class="fas fa-envelope fa-2x">Email,</i> </b>
        </a>
        <a href="https://www.linkedin.com/in/timi-ogunkeye-7774ba66/">
            <b> <i class="fab fa-linkedin fa-2x">LinkedIn</i> </b>
        </a>
    </ul>
</nav>
<h1 style="text-align: center;">Hi there, and welcome to my page</h1>
<h3 style="text-align: center;"> Scroll down and click reset on some of my canvas tinkerings</h3>
<p class="center-larger"> Some info whilst you are here: <br> <br>

    Commercially, I've worked as a frontend dev with angular, and backend with Java spring-boot, altogether I've been working for just over 3 years (Time flies, and bees, butterflys....) <br> <br>

    I wrap angular frontends in Electron to make them desktop apps, and I stick a Django backend on the end. <br>
    As you can see, I do play around with javascript canvas animations. <br>
    Although I don't have any C,or Dlang projects out in the wild (though I dearly wish I did), I use these languages personally to some effect. <br>
    <br>
    If I missed any details, refer to my resume, or if you came here from there, check out my  <a href="https://www.linkedin.com/in/timi-ogunkeye-7774ba66/">linkedIn</a> profile, or <a href="https://github.com/timi95">Github</a>.
    <br>
    <br>
    <i> I am absolutely open to commissions, so don't be shy and get in touch for a discussion !</i>
</p>
<!-- <app-circles></app-circles>
<app-linear></app-linear>
<app-random-walker></app-random-walker> -->
<!-- <div class="walker-row">
    <app-walker-objectified></app-walker-objectified>
    <blue-walker></blue-walker>
    <green-walker></green-walker>
</div>
<div class="walker-row">
    <purple-walker></purple-walker>
</div> -->

<div class="walker-display-frame">
    <select class="custom-select" (change)="changeWalkerDisplayType($event)" >
        <option value="" disabled>Choose WalkerDisplayType </option>
        <option *ngFor="let type of walkerTypeList" [ngValue]="type">{{type}}</option>
     </select>
</div>
<br>
<div class="walker-display-frame" [ngSwitch]="WalkerDisplayType">
    <div *ngSwitchCase="'redWalker'">
        <p> 
            The <span style="color: red;"> Red </span> walkers move based on a timer, and all synchronised.
        </p>
        <app-walker-objectified></app-walker-objectified>
    </div>
    <div *ngSwitchCase="'blueWalker'">
        <p>
            The <span style="color: blue;"> Blue </span> walkers move to words a target, and change direction/targets once their initial target is reached.
        </p>
        <blue-walker></blue-walker>
    </div>
    <div *ngSwitchCase="'greenWalker'">
        <p>
            The <span style="color: green;"> Green </span> walkers implement a "collision". 
            <br> 
            They change colour when they overlap...I realise it's a bit buggy, that's because I'm doing the check with RxJS.
            <br>So, probably I've overlooked some asynchronous side-effects.
        </p>
        <green-walker></green-walker>
    </div>
    <div *ngSwitchCase="'purpleWalker'">
        <p>
            The <span style="color: purple;"> Purple </span> walkers, rotate around their target which gives a curving effect.
            <br> Each walker instance also has a life-span, and lives a maximum of ten seconds in the canvas.
        </p>
        <purple-walker></purple-walker>
    </div>
    <div *ngSwitchCase="'orangeWalker'">
        <p>
            <span style="color: orange;"> Orange </span> walkers, in progress.... <br>
        </p>
        <orange-walker></orange-walker>
    </div>
    <div *ngSwitchDefault>
        <p> 
            The <span style="color: red;"> Red </span> walkers move based on a timer, and all synchronised.
        </p>
        <app-walker-objectified></app-walker-objectified>
    </div>
</div>


<!-- <router-outlet></router-outlet> -->
